<div id="post-container"><h3>Written by ( <a href="users/<%=@post.user_id%>"><%=@post.user.username%></a>) at <%=@post.created_at%></h3>
  <% if owned(@post)%>
      <div id="change-post-container">
        <a id="edit-post-link" href="/posts/<%=@post.id%>/edit">Edit ThisPost</a>
        <form id="delete-post-button" method='post' action="/posts/<%=@post.id%>">
          <input type='hidden' name="_method" value="delete">
          <input type='submit' value="Delete This Post">
        </form>
      </div>

<%end%>
<div id=post-details>
  <h2 class="post-title"><%=@post.title%></h2>
  <h3><%=@post.content%></h3>
  <h4><a href="/posts/<%=@post.id%>/comments/new/">Comment on this Post</a></h5>
</div>


<div id="comments-container">
  <%@post.comments.each do |comment|%>
    <h5>(<a href="users/<%=comment.user.id%>"><%=comment.user.username%></a>)
    <% if logged_in? && current_user.id == comment.user.id%>
      <div id="change-comment-container">
        <a id="edit-comment-link" href="/posts/<%=comment.post.id%>/comments/<%=comment.id%>/edit">Edit Comment</a>
        <form id="delete-comment-button" method='post' action="/posts/<%=comment.post.id%>/comments/<%=comment.id%>">
          <input type='hidden' name="_method" value="delete">
          <input type='submit' value="Delete This Comment">
        </form>
      </div>
    <% end %></h5>


        <h4 class="comment"><%=comment.content%></h4>



  <%end%>
</div>

